.red
{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    left: 600px;
    display: inline-block;
}
.blue
{
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    background-color: blue;
}
.yellow
{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: yellow;
}